/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background-color: #ecf0f1;
  margin-top: 80px; /* Adjusting for fixed navbar */
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1, h2, p {
  margin-bottom: 20px;
}
